
.mainContainer {
  max-height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.lowerThirdContainer {
  flex: none;
  margin-bottom: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  flex: 1;
}

.label {
  display: flex;
  font-size: large;
  gap: 18px;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.label span {
  width: 6rem;
  text-align: right;
}

.label input {
  flex-grow: 1;
  max-width: 30rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 4px;
  border: none;
  border-radius: 6px;
}

.buttonWrapper {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
}

.selectAssetButton {
  border: none;
  background: var(--color-bg-secondary);
  color: var(--color-text-copy);
  font-weight: bold;
  font-size: large;
  padding: 0.5rem;
  border-radius: 6px;
  max-width: 30rem;
}

.footerCancel {
  border: none;
  font-size: large;
  color: var(--color-text-cancel);
  background-color: transparent;
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
}

.footerOk {
  border: none;
  font-size: large;
  background-color: var(--color-bg-cta-primary);
  color: var(--color-fg-cta-primary);
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
}

.footerOk:hover {
  background-color: var(--color-cta-primary-hover);
}

.footerDelete {
  border: none;
  font-size: large;
  background-color: var(--color-bg-status-error);
  color: var(--color-fg-status-error);
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
}

.footerClone {
  border: none;
  font-size: large;
  background-color: var(--color-bg-status-success);
  color: var(--color-fg-status-success);
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
}
